<div class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="ng-scope wrapper">
    <style>
        #chartdiv {
            width: 800px;
            height: 400px;
        }
    </style>
    <div class="container row">
        <div class="card-panel">
            <h4><span class="blue-text">Dashboard of websites visited on </span><span class="green-text">{{date}}</span></h4>
        </div>
    </div>
    <div class="container row">
        <div class="card-panel">
            <h5 class="blue-text">Frequently Visited Sites</h5><br>
            <table class="striped highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="url in urls track by $index">
                        <td>{{$index+1}}</td>
                        <td><a href="https://{{url}}" target="_blank">https://{{url}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container row">
        <div class="card-panel">
            <h5 class="blue-text">Frequently Visited Category of websites</h5><br>
            <table class="striped highlight centered responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in categories track by $index">
                    <td>{{$index+1}}</td>
                    <td><a>{{category}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="page-footer blue accent-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project to predict behavior and mine rules about a user from the users browsing history</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="">Help</a></li>
                        <li><a class="white-text" href="">About Us</a></li>
                        <li><a class="white-text" href="">Sign Up</a></li>
                        <li><a class="white-text" href="">Login</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="">Contact Us</a></li>
                        <li><a class="white-text" href="">Meet our team</a></li>
                        <li><a class="white-text" href="">Careers</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="green-text text-lighten-3" href="https://github.com/vaisham92/CMPE295">Team Illusion</a>
            </div>
        </div>
    </footer>
</div>